<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer name goes here or something</title>
</head>
<body>
    <%-include('../misc/nav') %>
    <h1>Trainer: <%= trainer.name %></h1>
        <%-include('../partials/errors')%>
    <form action="/trainers/update/<%=trainer.id%>" method="POST">
        <input type="hidden" name="trainerid" value="<%=trainer.id%>" id="trainerid">
        <label for="newName">Update Trainer Name: </label>
        <input type="text" value="<%=trainer.name%>" name="newName" id="newName"><button>Update</button></form>
        <form action="/newpokemon" method="POST">
        <label for="pokemon">Starter Pokemon: </label>
        <select name="pokemon" id="pokemon">
            <% allPokemon.forEach((pokemon) => { %>
            <option value="<%=pokemon.id%>" id="<%=pokemon.id%>">
            <%=pokemon.name%></option>
        <% }); %>
        </select>
        <input type="hidden" name="trainerid" value="<%=trainer.id%>" id="trainerid">
        <input type="submit" value="Add Pokemon">
        </form>
    <h2>Pokemon Owned: </h2>
    <ul>
        <% ownedPokemon.forEach((pokemon) => { %>
            <li>
                <h3><%=pokemon.name%></h3>
                <img src="<%=pokemon.sprite%>">
                <p><strong>Pokedex No: </strong><%=pokemon.id%></p>
                <p><strong>Type: </strong><%= pokemon.primary_type %> <%= pokemon.secondary_type %></p>
                <p><strong>Ability: </strong> <%= pokemon.ability %></p>
                <form action="/pokemon/delete/<%=trainer.id%>/<%=pokemon.id%>" method="POST"><button>Delete Pokemon</button></form>
            </li>
        <% }); %>
    </ul>
    <h3>If you wish to remove this trainer and all their pokemon from the database, please click the delete button below...</h3>
    <form action="/trainers/delete/<%=trainer.id%>" method="POST"><button>Delete</button></form>
</body>
</html>